body {
  background-color:#F7F9FC;
  color:#192a56;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  line-height: normal;
}

a {
color:#2f3542;
text-decoration: none;
}

a:hover{
  color: black;
}

p{
font-family: 'Roboto', sans-serif;
font-size: 15px;
padding-bottom: 20px;
}

h1 {
  letter-spacing: .2rem;
}
h2 {
  color:#192a56;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.img-circle {
  width: 100px;
  border-radius: 50% 20% / 10% 40%;
}

.container {
  margin: auto;
  width:700px;

  }

#btn-le-wagon {
  background-color:#353b48;
  color:#ffffff;
  padding: 10px 30px;
  margin: 20px 0px;
  border-radius: 4px;
  letter-spacing: .2rem;

}

#btn-le-wagon:hover {
color: black;
}

.card-white {
 background-color:#ffffff;
 padding: 40px;
 border: 1px ;
 border-radius: 10px;
 box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
 text-align: center;
 margin: 20px 0px;
}

.list-inline li {
  display: inline;
  list-style: none;
  padding: 0px 20px;
  text-align: center;
  color:#30336b;
  font-size: 25px;
}

/*.follow-me {
  color:#636e72;
  margin-top: 20px;
}*/

ul{
  padding:0px;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
